/* Homepage */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
    #menu {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #menu { 
        width:auto;
        height: 100%;
    }
}
